*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#top{
    height: calc(100vh - 75px);
    background-color: blueviolet;
}


.top-content{
    display: flex;
    background-color: green;
    height: 100%;
}

#sidebar{
    width: 200px;
    background-color: blue;
    position: relative;
}

.main-content{
    margin-top: 75px;
}

.content{
    width:calc(100vw - 200px);
    background-color: aqua;
    overflow-y: auto;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 75px;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    background-color: yellow;
    height: 100px;
}

.logo{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.foot-sidebar{
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: green;
    width: 100%;
}

.upgrade{
    background-color: white;
    position: absolute;
    right: 200px;
    top: 22px;
    padding: 8px 23px;
    font-size: 12px;
}

.genres{
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
}

.genres ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
}


#bottom{
    height: 75px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song{
    height: 30px;
    width: 50px;
    background-color: yellow;
}

.play-bar{
    height: 30px;
    width: 90px;
    background-color: yellow;
}

.volume{
    height: 30px;
    width: 50px;
    background-color: yellow;
}


@media screen and (max-width:991px) {
    .genres ul {
        flex-wrap: wrap;
    }
    
}