*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    
}
/* COMMON */
.w-100{
    width: 100%;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.align-center{
    align-items: center;
}

.margin-10{
    margin: 10px;
}

.margin-3{
    margin:10px 3px;
}

#top{
    height: calc(100vh - 75px);
    background-color: blueviolet;
}


.top-content{
    display: flex;
    background-color: black;
    height: 100%;
}

/* SIDEBAR */
#sidebar{
    width: 200px;
    background-color: black;
    position: relative;
    margin: 10px;
    color: lightgrey;
}

.logo{
    width: 100%;
}
.logo img{
    max-width: 135px;
    margin: 5px 7px;
}

.menu{
    margin: 10px 5px;
}

.icon{
    width: 30px;
}

.list-playlist{
    height: 24vh;
    overflow-y: auto;
}

/* FOOTSIDEBAR */
.foot-sidebar{
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    margin: 0 10px;
}

.download{
    max-width: 15px;
    margin-right: 4px;
}

hr{
    margin: 10px 0;
    max-width: 176px;
}
.circle{
    width: 20px;
    border: 1px solid grey;
    border-radius: 15px;
    height: 20px;
    background-color: grey;
    margin-right: 4px;
}

.profile{
    border-radius: 50%;
    object-fit: cover;
}

.main-content{
    margin-top: 75px;
}

.content{
    width:calc(100vw - 200px);
    background-color: aqua;
    overflow-y: auto;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 75px;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    background-color: yellow;
    height: 100px;
}



.upgrade{
    position: absolute;
    right: 220px;
    top: 22px;
    padding: 10px 23px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}

.genres{
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    max-height: 70px;
    overflow-y: hidden;
}

.genres ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
}


#bottom{
    height: 75px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song{
    background-color: yellow;
}

.play-bar{
    height: 30px;
    width: 90px;
    background-color: yellow;
}

.volume{
    height: 30px;
    width: 50px;
    background-color: yellow;
}

.reproduced{
    max-width: 50px;
}


  

@media screen and (max-width:991px) {
    .genres ul {
        flex-wrap: wrap;
    }
    
}